body {
	background-color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
h2 {
	text-align: center;
	margin-bottom: 40px;
}
form{
	width: 500px;
	border: 2px solid #ccc;
	padding:30px;
	background: #ffff;
	border-radius: 15px;
	
}
input {
	display:block;
	border: 2px solid #ccc;
	width:95%;
	padding: 10px;
	margin:10px auto;
	
}
button:hover{
	opacity: .7;
}

button{
	float: right;
	border-radius: 5px;
	margin-right: 10px;
	padding: 10px 15px;
	background: #555;
	color: #fff;
}
.error {
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
	
}